# Env
.env
.env.local

# Backend
**/bin/
**/obj/
*.user
*.lscache
backend/src/Api/wwwroot/uploads/

# Frontend
node_modules/
dist/
.vite/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.claude/

# OS
Thumbs.db
.DS_Store